Tanshu Sachdeva:
	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin</title>
<style>
body {font-family:Arial;background:#f4f4f4;margin:0;padding:20px;}
.card {background:#fff;padding:15px;border-radius:8px;margin-bottom:20px;}
button {background:#dc3545;color:#fff;border:none;padding:6px;}
</style>
</head>
<body>

<div th:replace="fragments/navbar :: *"></div>

<h2>Admin Dashboard</h2>

<div class="card">
<h3>Add Product</h3>
<form method="post" action="/admin/product">
  <input name="name" placeholder="Name"/><br><br>
  <input name="price" placeholder="Price"/><br><br>
  <input name="stockQty" placeholder="Stock"/><br><br>
  <button>Add</button>
</form>
</div>

<div class="card">
<h3>Products</h3>

<div th:each="p : ${products}">
  <p>
    <b th:text="${p.name}"></b> - $<span th:text="${p.price}"></span>

    <form method="post" action="/admin/deactivate" style="display:inline">
      <input type="hidden" name="id" th:value="${p.id}"/>
      <button>Deactivate</button>
    </form>
  </p>
</div>

</div>

</body>
</html>

Tanishka Sachdeva:
	<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin</title>
<style>
body {font-family:Arial;background:#f4f4f4;margin:0;padding:20px;}
.card {background:#fff;padding:15px;border-radius:8px;margin-bottom:20px;}
button {background:#dc3545;color:#fff;border:none;padding:6px;}
</style>
</head>
<body>

<div th:replace="fragments/navbar :: *"></div>

<h2>Admin Dashboard</h2>

<div class="card">
<h3>Add Product</h3>
<form method="post" action="/admin/product">
  <input name="name" placeholder="Name"/><br><br>
  <input name="price" placeholder="Price"/><br><br>
  <input name="stockQty" placeholder="Stock"/><br><br>
  <button>Add</button>
</form>
</div>

<div class="card">
<h3>Products</h3>

<div th:each="p : ${products}">
  <p>
    <b th:text="${p.name}"></b> - $<span th:text="${p.price}"></span>

    <form method="post" action="/admin/deactivate" style="display:inline">
      <input type="hidden" name="id" th:value="${p.id}"/>
      <button>Deactivate</button>
    </form>
  </p>
</div>

</div>

</body>
</html>